body {
  color: #333;
  font: 14px/14px "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
body, html {
  width: 100%;
  height: 100%;
}
a:link{
  text-decoration: none;
}

*{
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}


/*头部*/
#header{
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.header_wrapper{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.header_img_wrapper{
  width: 280px;
  height: 65px;
  float: left;
}
.header_img_wrapper img{
  text-align: center;
  margin-top: 13px;
}
.header_img_text{
  float: left;
  margin-left: 160px;
  text-align: center;
  margin-top: 16px;
}
.header_img_text ul{
  overflow: hidden;
  vertical-align: middle;
}
.header_img_text ul li{
  float: left;
  padding: 10px 15px;
}
.header_img_text ul li:nth-child(2){
  margin-left: 60px;
}
.header_img_text ul li a,.header_img_text ul li a span{
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  font-family: " 微软雅黑";
  color: #000;
}
.header_img_text ul li a span{
  padding: 0;
}
.header_img_text ul li:last-child{
  background-color: #e94840;
  border-radius: 6px;
}
.header_img_text ul li:last-child a{
  color: #ffffff;
}




/*服务选项*/
.service-center{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.h2,.h2 span{
  line-height: 85px;
  width: 1200px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  font-family: " 微软雅黑";
}

/*左边*/
.centerleft {
  width: 960px;
  float: left;
  margin-bottom: 50px;

}
#curauto{
  overflow: hidden;
  border: 1px solid #e5e5e5;
  height: 100%;
}
.pic {
  border: 1px solid #e5e5e5;
  margin: 30px;
  float: left;
}
.spm {
  float: left;
  position: relative;
  top: 25px;
}
.spm i:nth-child(1) {
  font-size: 18px;
  color: #1d1515;
}
.spm i {
  display: block;
  line-height: 42px;
  height: 42px;
}
.spm i b {
  font-size: 20px;
  color: #fc545e;
  margin-left: 10px;
}
.spm i b.oldpic {
  font-size: 14px;
  color: #898989;
  margin-left: 40px;
  font-weight: normal;
}
.spm i b.oldpic em {
  text-decoration: line-through;
}
.spm i .yishou {
  color: #fb474f;
  margin-left: 10px;
  font-style: normal;
}

/*二维码*/
.spf {
  float: right;
  margin: 20px 60px 0 0;
}
.spf b {
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}
.spf_red{
  color: #fb474f;
}

/*右边*/
.centerright {
  width: 230px;
  float: right;
}
.rightct {
  width: 230px;
  border: 1px solid #e5e5e5;
  background: #fff;
  text-align: center;
}
.rightct h3{
  font-size: 20px;
  padding-left: 10px;
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  line-height: 60px;
  margin: 0;
  text-align: left;
  font-family: " 微软雅黑";
  font-weight: bold;
}
.rightct_img{
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 40px 50px;
  margin-bottom: 10px;
}
.rightct_yun{
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: " 微软雅黑";
}
.rightct_p{
  text-align: left;
  padding: 0 10px;
  line-height: 36px;
  margin-bottom: 0;
  font-size: 16px;
}
.rightct .rightct_p span {
  float: right;
  color: #fb474f;
}
.erweima{
  width: 230px;
  height: 290px;
  margin-top: 10px;
  background: url("../img/shopping/tuijianfuwushang_06.jpg") center no-repeat;
}
.erweima img {
  width: 130px;
  margin: 50px 0 0 50px;
}


/*文字介绍部分*/
.cdown{
  clear: both;/*清楚上方浮动造成的影响*/
  background: #fff;
  padding: 30px 20px;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
}
.cdown_description{
  border-bottom: 3px solid #fb474f;
  padding: 5px;
  margin-top: 10px;
  width: 66px;
}
.cdown p {
  line-height: 24px;
  margin: 15px 0 5px;
  font-size: 14px;
}
.cdown p span{
  margin-left: 20px;
}
.cdown p span em {
  color: #fb474f;
  font-style: normal;
}



/*保障*/

#baozhang{
  text-align: center;
  width: 100%;
  padding-top: 60px;
  background: #fff;
  clear: both;
}
#baozhang h2 {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: bold;
  margin: 20px 0;
}
#baozhang h2 span{
  font-size: 30px;
  font-weight: bold;
  color: #fb474f;
}
#baozhang p {
  font-size: 22px;
  color: #3d3838;
  margin: 0;
}

/*三对勾ul*/
#servi{
  width: 100%;
  padding-top: 20px;
  background: #fff;
  height: 50px;
  font-family: "微软雅黑";
}
#servi ul {
  width: 420px;
  margin: 0 auto;
}
#servi ul li {
  width: 33%;
  float: left;
  text-align: center;
  color: #1d1515;
  font-size: 18px;
}


/*脚步*/
.footer {
  width: 100%;
  clear: both;
  padding-top: 50px;
  height: 170px;
  background: #fff;
}
.footer dl {
  width: 1200px;
  margin: 0 auto;
}
.footer dl dt {
  float: left;
  font-family: " 微软雅黑";
  font-size: 18px;
}
.footer dl dd {
  display: block;
  margin-left: 30px;
  width: 1090px;
  line-height: 30px;
  float: left;
}
.footer dl dd i {
  font-size: 16px;
  color: #898989;
  display: inline-block;
  width: 8%;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
  font-family: "微软雅黑";
}


/*底部图标*/
.beian {
  width: 100%;
  height: 130px;
  text-align: center;
  padding-top: 50px;
}
#htit {
  position: relative;
  bottom: 20px;
  text-align: left;
  font-weight: bold;
  width: 1200px;
  margin: 0 auto;
  background: none;
  color: #1d1515;
  font-size: 18px;
}
.hezuo li:first-child {
  margin: 0;
}
.hezuo{
  width: 1200px;
  margin: 0 auto;
}
.hezuo li {
  float: left;
  width: 10%;
  height: 60px;
  text-align: center;
  background: #fff;
  margin-left: 1%;
  line-height: 55px;
}
.beian p {
  color: #898989;
}