body {
  color: #333;
  font: 14px/14px "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
body, html {
  width: 100%;
  height: 100%;
}
a:link{
  text-decoration: none;
}

*{
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}

/*头部*/
#header{
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.header_wrapper{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.header_img_wrapper{
  width: 280px;
  height: 65px;
  float: left;
}
.header_img_wrapper img{
  text-align: center;
  margin-top: 13px;
}
.header_img_text{
  float: left;
  margin-left: 160px;
  text-align: center;
  margin-top: 16px;
}
.header_img_text ul{
  overflow: hidden;
  vertical-align: middle;
}
.header_img_text ul li{
  float: left;
  padding: 10px 15px;
}
.header_img_text ul li:nth-child(2){
  margin-left: 60px;
}
.header_img_text ul li a,.header_img_text ul li a span{
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  font-family: " 微软雅黑";
  color: #000;
}
.header_img_text ul li a span{
  padding: 0;
}
.header_img_text ul li:last-child{
  background-color: #e94840;
  border-radius: 6px;
}
.header_img_text ul li:last-child a{
  color: #ffffff;
}



/*图片背景*/
.bg{
  width: 100%;
  height: 300px;
  background: url("../img/shopper/information.jpg") center no-repeat;
}


/*主体*/

/*one*/
.info_one{
  width: 100%;
  height: 300px;
  background: #fff;
}
.one_center{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.one_center_img {
  width: 166px;
  height: 166px;
  float: left;
  margin: 60px;
}
.one_center_text{
  float: right;
  line-height: 60px;
  padding-top: 100px;
  margin-right: 150px;
}
.one_center_text b{
  font-size: 32px;
}
.one_center_text p{
  font-size: 22px;
  margin-left: 55px;
}

/*two*/
.info_two{
  width: 100%;
  height: 300px;
}
.two_center{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.two_center_text{
  line-height: 60px;
  padding-top: 90px;
  float: left;
}
.two_center_text b{
  font-size: 32px;
}
.two_center_text p{
  font-size: 22px;
  margin-left: 55px;
}
.two_center_img {
  width: 166px;
  height: 166px;
  float: left;
  margin: 60px;
}


/*提交合作信息*/
.cooperation{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 110px;
}
.cooperation span{
  font-weight: bold;
  color: #fb474f;
}

/*提交信息表单*/

.cooperation-center{
  width: 660px;
  margin: 0 auto 50px;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
}
.tanme{
  height: 46px;
  line-height: 46px;
}
.cooperation-center div span{
  width: 120px;
  text-align: right;
  float: left;
  display: block;
}
.cooperation-center div em {
  color: red;
  margin-right: 5px;
}
.cooperation-center div input[type=text]{
  width: 500px;
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  margin-left: 10px;
}
.ched div input {
  margin-right: 2px;
}
.ched{
  height: 100%;/*防止换行宽度不够 被下方覆盖*/
}
.ched label {
  margin: 0 6px;
}
#note{
  padding-left: 17px;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  margin-left: 13px;
}

.tbtn{
  width: 126px;
  background: #fb474f;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 6px;
  border: none;
  margin-top: 30px;
}


/*保障*/

#baozhang{
  text-align: center;
  width: 100%;
  padding-top: 60px;
  background: #fff;
  clear: both;
}
#baozhang h2 {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: bold;
  margin: 20px 0;
}
#baozhang h2 span{
  font-size: 30px;
  font-weight: bold;
  color: #fb474f;
}
#baozhang p {
  font-size: 22px;
  color: #3d3838;
  margin: 0;
}

/*三对勾ul*/
#servi{
  width: 100%;
  padding-top: 20px;
  background: #fff;
  height: 50px;
  font-family: "微软雅黑";
}
#servi ul {
  width: 420px;
  margin: 0 auto;
}
#servi ul li {
  width: 33%;
  float: left;
  text-align: center;
  color: #1d1515;
  font-size: 18px;
}


/*脚步*/
.footer {
  width: 100%;
  clear: both;
  padding-top: 50px;
  height: 170px;
  background: #fff;
}
.footer dl {
  width: 1200px;
  margin: 0 auto;
}
.footer dl dt {
  float: left;
  font-family: " 微软雅黑";
  font-size: 18px;
}
.footer dl dd {
  display: block;
  margin-left: 30px;
  width: 1090px;
  line-height: 30px;
  float: left;
}
.footer dl dd i {
  font-size: 16px;
  color: #898989;
  display: inline-block;
  width: 8%;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
  font-family: "微软雅黑";
}


/*底部图标*/
.beian {
  width: 100%;
  height: 130px;
  text-align: center;
  padding-top: 50px;
}
#htit {
  position: relative;
  bottom: 20px;
  text-align: left;
  font-weight: bold;
  width: 1200px;
  margin: 0 auto;
  background: none;
  color: #1d1515;
  font-size: 18px;
}
.hezuo li:first-child {
  margin: 0;
}
.hezuo{
  width: 1200px;
  margin: 0 auto;
}
.hezuo li {
  float: left;
  width: 10%;
  height: 60px;
  text-align: center;
  background: #fff;
  margin-left: 1%;
  line-height: 55px;
}
.beian p {
  color: #898989;
}


